/* General */
table {
  thead, tbody {
    tr {
      th, td {
        background-color: inherit; 
        color: inherit;   
      }
    }
  }
}

/* Modo claro */
:root table {
  thead, tbody {
    tr {
      th, td {
        border: 1px solid var(--border-color);
      }
    }
  }
}

/* Modo oscuro */
.dark-mode table {
  thead, tbody {
    tr {
      th, td {
        border: none;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
