:root {
  --background-color: rgba(249,250,251,1);
  --background-color-ligth: #ffffff;
  --text-color: #000000;
  --button-background: #000000;
  --button-text: #ffffff;
  --border-color: #dadcdf;
  --head-color: #a1a1a1;
}

.dark-mode {
  --background-color: #495057;
  --background-color-ligth: #6c757d;
  --text-color: #ffffff;
  --button-background: #3a3a3a;
  --button-text: #ffffff;
  --border-color: #595a5b;
  --row-color: #6c757d;
}

:root table thead th,
:root table tbody td {
  border: 1px solid var(--border-color);
}

.dark-mode table thead th,
.dark-mode table tbody td {
  border: none;
  border-bottom: 1px solid #fff;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Comfortaa', sans-serif !important;
}
